#gdc-calendar-tool-add-button {
  background: linear-gradient(#349bae, #51b8cb) padding-box, linear-gradient(90deg, #f5eb26, #51b8cb, #ec82a3) border-box !important;
  color: black !important;
  padding: 11px 0px !important;
}

#gdc-calendar-tool-add-important-button {
  background: linear-gradient(#e15b85, #ec82a3) padding-box, linear-gradient(90deg, #51b8cb, #ec82a3, #f5eb26) border-box !important;
  color: black !important;
  padding: 11px 0px !important;
}

#gdc-calendar-tool-remove-button {
  background: linear-gradient(#f5eb26, #fff87a) padding-box, linear-gradient(90deg, #ec82a3, #f5eb26, #51b8cb) border-box !important;
  padding: 11px 0px !important;
}

#gdc-calendar-tool-add-button:hover {
  background: linear-gradient(#349bae, #349bae) padding-box, linear-gradient(90deg, #f5eb26, #51b8cb, #ec82a3) border-box !important;
}

#gdc-calendar-tool-add-important-button:hover {
  background: linear-gradient(#e15b85, #e15b85) padding-box, linear-gradient(90deg, #51b8cb, #ec82a3, #f5eb26) border-box !important;
}

#gdc-calendar-tool-remove-button:hover {
  background: linear-gradient(#f5eb26, #f5eb26) padding-box, linear-gradient(90deg, #ec82a3, #f5eb26, #51b8cb) border-box !important;
}

#gdc-calendar-tool-add-button[disabled], #gdc-calendar-tool-add-important-button[disabled]{
  opacity: 1 !important;
}

#gdc-calendar-tool-add-button:hover[disabled] {
  background: linear-gradient(#349bae, #51b8cb) padding-box, linear-gradient(90deg, #f5eb26, #51b8cb, #ec82a3) border-box !important
}

#gdc-calendar-tool-add-important-button:hover[disabled] {
  background: linear-gradient(#e15b85, #ec82a3) padding-box, linear-gradient(90deg, #51b8cb, #ec82a3, #f5eb26) border-box !important;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid black;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 